{% extends "base.html" %}


{% block page_scripts %}
<script>
    window.addEventListener('load', function(event) {
        new ConvenientFormset({
            'formsetPrefix': 'formset',
            'formsContainerSelector': '#formset #forms-container',
            'formSelector': '.form',
            'emptyFormSelector': '#formset #empty-form .form',
            'addFormButtonSelector': '#formset #add-form-button',
        });
    });
</script>
{% endblock%}


{% block page_contents %}
<!-- Note: form input elements have `id` attribute only & corresponding labels; forms cannot be deleted -->
<div id="formset">
    <div id="forms-container">
        <div class="form">
            <label for="id_formset-0-user">Username:</label>
            <input type="text" id="id_formset-0-user" value="user0">
        </div>
        <div class="form">
            <label for="id_formset-1-user">Username:</label>
            <input type="text" id="id_formset-1-user" value="user1">
        </div>
        <div class="form">
            <label for="id_formset-2-user">Username:</label>
            <input type="text" id="id_formset-2-user" value="user2">
        </div>
        <div class="form">
            <label for="id_formset-3-user">Username:</label>
            <input type="text" id="id_formset-3-user" value="user3">
        </div>
    </div>
    <input type="button" id="add-form-button" value="Add form">
    <div id="empty-form" hidden>
        <div class="form">
            <label for="id_formset-__prefix__-user">Username:</label>
            <input type="text" id="id_formset-__prefix__-user">
        </div>
    </div>
    <div id="management-form">
        <input type="hidden" name="formset-TOTAL_FORMS" value="4">
        <input type="hidden" name="formset-INITIAL_FORMS" value="4">
        <input type="hidden" name="formset-MIN_NUM_FORMS" value="0">
        <input type="hidden" name="formset-MAX_NUM_FORMS" value="5">
    </div>
</div>
{% endblock %}
