{% extends "base.html" %}


{% block page_contents %}
<div id="formset">
    <div id="forms-container">
        <div class="form">
            <input type="text" name="formset-0-user" value="user0">
        </div>
        <div class="form">
            <input type="text" name="formset-1-user" value="user1">
        </div>
        <div class="form">
            <input type="text" name="formset-2-user" value="user2">
        </div>
        <div class="form">
            <input type="text" name="formset-3-user" value="user3">
        </div>
        <div class="form">
            <input type="text" name="formset-4-user" value="user4">
        </div>
    </div>
    <input type="button" id="add-form-button" value="Add form">
    <template id="empty-form-template">
        <div class="form">
            <input type="text" name="formset-__prefix__-user" value="">
        </div>
    </template>
    <div id="management-form">
        <input type="hidden" name="formset-TOTAL_FORMS" value="2">
        <input type="hidden" name="formset-INITIAL_FORMS" value="2">
        <input type="hidden" name="formset-MIN_NUM_FORMS" value="0">
        <input type="hidden" name="formset-MAX_NUM_FORMS" value="5">
    </div>
</div>
{% endblock %}
