{% extends "initialization/hiding_add_form_button_base.html" %}


{% block page_scripts %}
<script>
    window.addEventListener('load', function(event) {
        new ConvenientFormset({
            'formsetPrefix': 'formset',
            'formsContainerSelector': '#formset #forms-container',
            'formSelector': '.form',
            'emptyFormSelector': '#formset #empty-form .form',
            'addFormButtonSelector': '#formset #add-form-button',
            'hideAddFormButtonOnMaxForms': false,
        });
    });
</script>
{% endblock%}
