{% extends "base.html" %}


{% block page_contents %}
<div id="formset">
    <div id="forms-container">
        <div class="form">
            <input type="text" name="formset-0-user" value="user0">
            <input type="hidden" name="formset-0-DELETE" value="on">
            <input type="button" id="delete-form-button" value="Delete form">
        </div>
        <div class="form">
            <input type="text" name="formset-1-user" value="user1">
            <input type="hidden" name="formset-1-DELETE" value="">
            <input type="button" id="delete-form-button" value="Delete form">
        </div>
    </div>
    <div id="management-form">
        <input type="hidden" name="formset-TOTAL_FORMS" value="2">
        <input type="hidden" name="formset-INITIAL_FORMS" value="2">
        <input type="hidden" name="formset-MIN_NUM_FORMS" value="0">
        <input type="hidden" name="formset-MAX_NUM_FORMS" value="5">
    </div>
</div>
{% endblock %}
