{% extends "base.html" %}


{% block page_scripts %}
<script>
    window.addEventListener('load', function(event) {
        new ConvenientFormset({
            'formsetPrefix': 'formset',
            'formsContainerSelector': '#formset #forms-container',
            'formSelector': '.form',

            'canAddForms': true,
            'addFormButtonSelector': '#formset #add-form-button',
            'emptyFormSelector': '#formset #empty-form .form',
            'hideAddFormButtonOnMaxForms': true,

            'canDeleteForms': true,
            'deleteFormButtonSelector': '#delete-form-button',

            'canOrderForms': true,
            'moveFormDownButtonSelector': '#move-form-down-button',
            'moveFormUpButtonSelector': '#move-form-up-button',
        });
    });
</script>
{% endblock%}


{% block page_contents %}
<!-- Note: form input elements have `name` attribute only -->
<div id="formset">
    <div id="forms-container">
        <div class="form">
            <input type="text" name="formset-0-user" value="user0">
            <input type="hidden" name="formset-0-DELETE" value="on">
            <input type="button" id="delete-form-button" value="Delete form">
            <input type="hidden" name="formset-0-ORDER" value="1">
            <input type="button" id="move-form-up-button" value="Move up">
            <input type="button" id="move-form-down-button" value="Move down">
        </div>
        <div class="form">
            <input type="text" name="formset-1-user" value="user1">
            <input type="hidden" name="formset-1-DELETE" value="">
            <input type="button" id="delete-form-button" value="Delete form">
            <input type="hidden" name="formset-1-ORDER" value="2">
            <input type="button" id="move-form-up-button" value="Move up">
            <input type="button" id="move-form-down-button" value="Move down">
        </div>
        <div class="form">
            <input type="text" name="formset-2-user" value="user2">
            <input type="hidden" name="formset-2-DELETE" value="on">
            <input type="button" id="delete-form-button" value="Delete form">
            <input type="hidden" name="formset-2-ORDER" value="3">
            <input type="button" id="move-form-up-button" value="Move up">
            <input type="button" id="move-form-down-button" value="Move down">
        </div>
        <div class="form">
            <input type="text" name="formset-3-user" value="user3">
            <input type="hidden" name="formset-3-DELETE" value="">
            <input type="button" id="delete-form-button" value="Delete form">
            <input type="hidden" name="formset-3-ORDER" value="4">
            <input type="button" id="move-form-up-button" value="Move up">
            <input type="button" id="move-form-down-button" value="Move down">
        </div>
        <div class="form">
            <input type="text" name="formset-4-user" value="user4">
            <input type="hidden" name="formset-4-DELETE" value="on">
            <input type="button" id="delete-form-button" value="Delete form">
            <input type="hidden" name="formset-4-ORDER" value="5">
            <input type="button" id="move-form-up-button" value="Move up">
            <input type="button" id="move-form-down-button" value="Move down">
        </div>
    </div>
    <input type="button" id="add-form-button" value="Add form">
    <div id="empty-form" hidden>
        <div class="form">
            <input type="text" name="formset-__prefix__-user" value="">
            <input type="button" id="delete-form-button" value="Delete form">
            <input type="hidden" name="formset-__prefix__-ORDER" value="">
            <input type="button" id="move-form-up-button" value="Move up">
            <input type="button" id="move-form-down-button" value="Move down">
        </div>
    </div>
    <div id="management-form">
        <input type="hidden" name="formset-TOTAL_FORMS" value="5">
        <input type="hidden" name="formset-INITIAL_FORMS" value="5">
        <input type="hidden" name="formset-MIN_NUM_FORMS" value="0">
        <input type="hidden" name="formset-MAX_NUM_FORMS" value="5">
    </div>
</div>
{% endblock %}
